name: Flowzone

on:
  pull_request:
    types: [opened, synchronize, closed]
    branches:
      - balena

jobs:
  flowzone:
    name: Flowzone
    uses: product-os/flowzone/.github/workflows/flowzone.yml@master
    secrets: inherit
    with:
      # Disable versioning as we don't want to version the firmware or our packaging workflows.
      # We also don't want Flowzone to finalize balena releases unless they are tagged upstream.
      disable_versioning: true
