name: "Repo Sync"

on:
  schedule:
    # at 07:15 AM every day
    - cron: "15 7 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  repo-sync:
    runs-on: ubuntu-24.04
    name: Repo sync

    steps:
      # https://github.com/actions/checkout
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      # https://github.com/repo-sync/github-sync
      - name: Repo sync
        uses: repo-sync/github-sync@3832fe8e2be32372e1b3970bbae8e7079edeec88 # v2.3.0
        with:
          source_repo: https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git
          source_branch: "main"
          destination_branch: "main"
          github_token: ${{ secrets.GITHUB_TOKEN }}
          sync_tags: "true"
